.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

button {
  font-family: $headingFont;
  font-weight: bold;
  padding: 1.4rem 3rem;
  background: $green;
  color: $white;
  border: 1px solid $green;
  transition: 0.3s linear;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover,
button:focus {
  background: transparent;
  color: $black;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
  font-size: 3rem;
}

.skip-link:focus {
  left: 0;
}

h2 {
  padding-bottom: 30px;
  position: relative;
}

h2::after {
  content: '';
  height: 3px;
  background: $green;
  width: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
