.wrapper {
  max-width: 1260px;
  margin: 0 auto;
}

button {
  font-family: $bodyFont;
  padding: 1.4rem 3rem;
  background: $green;
  color: $white;
  border: 1px solid $green;
  transition: 0.3s linear;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background: transparent;
  color: $black;
}

img {
  display: block;
  max-width: 100%;
}

// Apply to gallery ul only
// ul {
//   padding: 0;
// }
