footer {
  background: $blackTwo;
  padding: 90px 0 50px 0;
  .footer__container {
    display: flex;
    justify-content: space-between;
    p {
      display: flex;
      flex-wrap: wrap;
    }
    > * {
      flex: 1;
    }
    ul {
      padding: 0;
    }
  }
}

// Copyright 'footer'
.copyright-footer {
  background: $black;
  p {
    text-align: center;
  }
}
