@media (max-width: 1000px) {
  // SMALL DESKTOP
  // HEADER

  .fa-quote-right {
    display: none;
  }
  .fa-quote-left {
    display: none;
  }
  .posts-list {
    flex-direction: column;
    align-items: center;
  }
  .posts-container {
    h3 {
      text-align: center;
    }
  }
}

@media (max-width: 1200px) {
  .reviews__wrapper {
    margin: 0 3em;
  }
  .footer__container {
    flex-direction: column;
  }
  .sally-container {
    flex-direction: column;
    img {
      width: 30%;
      padding-bottom: 10px;
    }
  }
  .sally-text-container {
    margin: 0;
    padding: 10px 0;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-form-container {
    max-width: 100%;
    form {
      width: 100%;
    }
  }
}

@media (max-width: 1500px) {
  .posts-list-item {
    padding-right: 1em;
  }

  .nav {
    margin: 1em 1em 0 1em;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav__list {
    position: fixed;
    left: -100%;
    top: 100px;
    padding: 1em;
    gap: 0;
    flex-direction: column;
    background-color: rgba(55, 128, 0, 0.635);
    width: 100%;
    transition: 0.3s;
  }
  .nav__list-link {
    padding-top: 1em;
  }
  .nav__list.active {
    left: 0;
    text-align: right;
  }
}

// RECIPES SECTION CUSTOM MEDIA QUERY
@media (max-width: 1900px) {
  .recipes__container-row-1,
  .recipes__container-row-2 {
    display: flex;
    flex-direction: column;
  }
  .recipes__container-row-1 {
    h2,
    p {
      margin: 1em 3em;
      opacity: 1;
      text-align: center;
    }
    button {
      margin: 2em 0;
    }
  }
  .recipes__container-row-2 {
    flex-direction: column-reverse;
  }
  // Restaurants
  .restaurants__content {
    margin: 0 2em;
  }
  .tile-1 {
    padding: 40px 40px;
  }
  .blog-wrapper {
    margin: 0 auto;
    max-width: 80%;
  }
}

// TABLET
@media (max-width: 800px) {
  .menu-list {
    flex-direction: column;
    margin: 0;
    .column-1 {
      border-bottom: 1px solid rgba(128, 128, 128, 0.204);
    }
  }
  .restaurants__sticker {
    img {
      width: 120px;
      top: 12%;
      left: 75%;
      bottom: 0%;
    }
  }
}

// MOBILE
@media (max-width: 600px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
  .restaurants__sticker {
    img {
      width: 100px;
      top: 16%;
      left: 80%;
      bottom: 0%;
    }
  }
  .blog-post-container {
    margin-top: 5em;
    h2 {
      font-size: 2.3rem;
    }
  }
  .comment-form {
    input::placeholder,
    textarea::placeholder {
      padding: 5px;
      font-size: 1.2rem;
    }
  }
  .tile-1 {
    h2 {
      line-height: 25px;
    }
  }
}
@media (max-width: 500px) {
  .restaurants__sticker {
    img {
      width: 80px;
      top: 22%;
      left: 80%;
      bottom: 0%;
    }
  }
}

@media (max-width: 400px) {
  .comment-form {
    input::placeholder,
    textarea::placeholder {
      font-size: 0.8rem;
    }
  }
  .restaurants__sticker {
    img {
      width: 60px;
      top: 85px;
      left: 84%;
      bottom: 0%;
    }
  }
}
