.nav {
  display: flex;
  justify-content: space-between;
  margin: 1em 3em;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav a {
  padding: 0 10px;
}
