.nav {
  display: flex;
  justify-content: space-between;
  margin: 1em 3em;
  button {
    cursor: pointer;
    bottom: 41rem;
    color: $black;
    background: none;
    border: none;
    display: none;
    transition: 0.2s linear;
  }
  button:hover {
    color: $green;
  }
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

nav a {
  padding: 0 20px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: $black;
}
