.recipes__container {
  margin: 0 auto;
  img {
    display: block;
    min-width: 100%;
  }
}

.recipes__container-row-1 {
  display: flex;
  justify-content: center;
}

.recipes__container-row-2 {
  display: flex;
  justify-content: center;
}

.recipes__container-tile {
  min-width: 50%;
}

// Tile 1

.tile-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  h2,
  p {
    margin: 30px 200px;
  }
}
.recipes-title {
  padding-bottom: 30px;
  position: relative;
}

.recipes-title::after {
  content: '';
  height: 3px;
  background: $green;
  width: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

// Tile 4
.tile-4 {
  background: rgba(128, 128, 128, 0.068);
  display: flex;
  align-items: center;
  h4,
  p {
    padding-left: 3rem;
  }
}

.menu-list {
  display: flex;
  li {
    display: flex;
    margin: 3em 3em;
  }
  i {
    font-size: 4rem;
  }
}
