.restaurants__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10em 0;
  margin: auto 20em;

  h2 {
    padding-top: 80px;
  }
  p {
    padding-top: 15px;
  }
}

.restaurants-image {
  position: relative;
  padding-top: 115px;
}

.restaurants__sticker {
  display: flex;
  img {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 75%;
    bottom: 100%;
  }
}
