.restaurants__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10em 0;
  margin: auto 20em;
  h2 {
    padding-top: 80px;
  }
  p {
    padding-top: 15px;
  }
  img {
    position: relative;
  }
}

.restaurants__sticker {
  img {
    max-height: 18rem;
    position: absolute;
    z-index: 1;
    padding-top: 3em;
    right: 78px;
    margin-top: 1.4em;
    display: block;
  }
}
