// Fonts
$headingFont: 'Raleway', sans-serif;
$bodyFont: 'Lora', serif;
$baseFontSize: 1rem;

// Font colours
$black: #2e2e2e;
$white: #f6f6f6;
$green: #539908;
$blackTwo: #333333;
$brownGrey: #999999;
