html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

button {
  font-family: "Lora", serif;
  padding: 1.4rem 3rem;
  background: #539908;
  color: #f6f6f6;
  border: 1px solid #539908;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover,
button:focus {
  background: transparent;
  color: #2e2e2e;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
  font-size: 3rem;
}

.skip-link:focus {
  left: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lora", serif;
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #2e2e2e;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 4.6rem;
  letter-spacing: 1.1px;
  line-height: 24px;
}

h2 {
  line-height: 1.8rem;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
  line-height: 36px;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  line-height: 36px;
  letter-spacing: 0.5;
}

ul {
  list-style: none;
}
ul li {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: bold;
}

a:hover,
a:focus {
  opacity: 0.5;
  color: #539908;
}

p {
  color: #999999;
  line-height: 24px;
  letter-spacing: 0.3px;
}

body > p span {
  color: #539908;
}

.reviews p {
  font-style: italic;
  color: #2e2e2e;
}
.reviews i {
  color: white;
}

footer h3 {
  color: #539908;
  font-size: 2.4rem;
}
footer h4 {
  color: #f6f6f6;
  font-size: 1.4rem;
}

.recent-posts li {
  color: #999999;
  font-family: "Lora", serif;
  font-size: 1.4rem;
}

.menu-list p {
  font-size: 1.4rem;
  font-family: "Lora", serif;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

nav a {
  padding: 0 10px;
}

header {
  height: 100vh;
  padding: 50px 0;
  background: url(../../../assets/home-1.jpeg) center;
  background-size: cover;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipes__container {
  margin: 0 auto;
  max-width: 100%;
}
.recipes__container img {
  display: block;
  min-width: 100%;
}

.recipes__container-row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipes__container-row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipes__container-tile {
  min-width: 50%;
}

.tile-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tile-1 h2,
.tile-1 p {
  margin: 30px 200px;
}
.tile-1 h2 {
  padding-bottom: 30px;
  position: relative;
}
.tile-1 h2::after {
  content: "";
  height: 3px;
  background: #539908;
  width: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.tile-4 {
  background: rgba(128, 128, 128, 0.068);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tile-4 h4,
.tile-4 p {
  padding-left: 3rem;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3em 3em;
}
.menu-list i {
  font-size: 4rem;
}

.restaurants__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10em 0;
  margin: auto 20em;
}
.restaurants__content h2 {
  padding-top: 80px;
}
.restaurants__content p {
  padding-top: 15px;
}
.restaurants__content img {
  position: relative;
}

.restaurants__sticker {
  position: absolute;
  right: 36%;
  padding-top: 55px;
  z-index: 1;
}
.restaurants__sticker img {
  max-height: 150px;
}

.gallery ul {
  padding: 0;
  margin: 0;
}
.gallery ul img {
  width: 100vw;
  min-height: 100%;
}

.gallery__row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews {
  background: rgba(218, 250, 144, 0.699);
  text-align: center;
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 900px;
}

.review-container {
  margin: 15em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.review-container p {
  padding: 70px 0;
  margin: 0;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 5rem;
  color: #999999;
  opacity: 0.5;
}

.fa-quote-left {
  padding-top: 315px;
}

.fa-quote-right {
  position: absolute;
  padding-top: 380px;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 3rem;
  color: #f6f6f6;
  font-weight: bold;
}

.fa-chevron-left {
  padding-right: 10px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.fa-chevron-right {
  padding-left: 10px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover,
.fa-chevron-left:focus,
.fa-chevron-right:focus {
  cursor: pointer;
  opacity: 0.5;
}

h2 {
  padding-bottom: 30px;
  position: relative;
}

h2::after {
  content: "";
  height: 3px;
  background: #539908;
  width: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

footer {
  background: #333333;
  padding: 90px 0 50px 0;
}
footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer__container > * {
  margin: 0 5em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
footer .footer__container ul {
  padding: 0;
}

.contact h3 {
  padding-bottom: 30px;
}
.contact p {
  border-bottom: 0.9px solid #999999;
  letter-spacing: 0.3px;
  padding-bottom: 10px;
}
.contact :nth-child(2) {
  padding-bottom: 20px;
}
.contact :nth-child(6) {
  border-bottom: none;
}
.contact :nth-child(3) {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.contact :nth-child(4) {
  padding-top: 0;
  margin-top: 0;
}

.recent-posts h4 {
  padding-bottom: 25px;
}
.recent-posts li {
  font-size: 1.3rem;
  line-height: 44px;
  letter-spacing: 0.3px;
  border-bottom: 0.9px solid #999999;
}
.recent-posts :nth-child(6) {
  border-bottom: none;
}

.subscribe-now h4 {
  padding-bottom: 35px;
}
.subscribe-now p {
  font-size: 1.3rem;
  letter-spacing: 0.3px;
}
.subscribe-now button {
  margin-left: 0;
  padding: 10px;
}
.subscribe-now button:hover,
.subscribe-now button:focus {
  color: #f6f6f6;
}
.subscribe-now input,
.subscribe-now textarea {
  padding: 10px;
  border: none;
  background: rgb(78, 78, 78);
  font-family: "Lora", serif;
  margin-bottom: 20px;
}
.subscribe-now input::-webkit-input-placeholder, .subscribe-now textarea::-webkit-input-placeholder {
  font-size: 1.3rem;
  color: #f6f6f6;
  font-style: italic;
  text-align: justify;
  font-family: "Lora", serif;
}
.subscribe-now input::-moz-placeholder, .subscribe-now textarea::-moz-placeholder {
  font-size: 1.3rem;
  color: #f6f6f6;
  font-style: italic;
  text-align: justify;
  font-family: "Lora", serif;
}
.subscribe-now input:-ms-input-placeholder, .subscribe-now textarea:-ms-input-placeholder {
  font-size: 1.3rem;
  color: #f6f6f6;
  font-style: italic;
  text-align: justify;
  font-family: "Lora", serif;
}
.subscribe-now input::-ms-input-placeholder, .subscribe-now textarea::-ms-input-placeholder {
  font-size: 1.3rem;
  color: #f6f6f6;
  font-style: italic;
  text-align: justify;
  font-family: "Lora", serif;
}
.subscribe-now input::placeholder,
.subscribe-now textarea::placeholder {
  font-size: 1.3rem;
  color: #f6f6f6;
  font-style: italic;
  text-align: justify;
  font-family: "Lora", serif;
}
.subscribe-now input:focus,
.subscribe-now textarea:focus {
  border-bottom: 1px solid #539908;
  outline: none;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 0.9px solid #999999;
}
.socials-list li {
  padding: 15px 20px 0 0;
  color: #f6f6f6;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.socials-list li:hover,
.socials-list li:focus {
  opacity: 0.1;
  color: #539908;
  opacity: 0.5;
  cursor: pointer;
  font-size: 1.72rem;
}

.copyright-footer {
  background: rgb(43, 43, 43);
}
.copyright-footer p {
  line-height: 44px;
  font-family: "Raleway", sans-serif;
  padding-left: 70px;
}
.copyright-footer p span {
  color: #539908;
}

.blog-header {
  background: url(../../../assets/blog-1.jpeg) center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

.contact-header {
  background: url(../../../assets/contact-1.jpeg) center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

.contact-banner img {
  display: block;
  width: 100%;
}